<!DOCTYPE html>
<html ng-app="candidatePage">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/wechat/resources/images/icon/favicon.ico">
    <link rel='stylesheet' type="text/css" href="/wechat/resources/css/font.css"/>
    <link rel="stylesheet" type="text/css" href="/wechat/resources/css/mobiscroll.custom-3.0.0-beta3.min.css"/>
    <link rel='stylesheet' type="text/css" href="/wechat/resources/css/bootstrap.min.css"/>
    <link rel='stylesheet' type="text/css" href="/wechat/resources/css/candidate.css"/>
    <link rel='stylesheet' type="text/css" href="/wechat/resources/css/weui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/wechat/resources/css/importExcelDropify.min.css"/>
    <title>Job Application</title>
    <script type="text/javascript" src="/wechat/resources/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/wechat/resources/js/dropify.min.js"></script>
    <script type="text/javascript" src="/wechat/resources/js/angular.min.js"></script>
    <script type="text/javascript" src="/wechat/resources/js/angular-animate.js"></script>
    <!-- <script type="text/javascript" src="/wechat/resources/js/angular-ui-router.js"></script> -->
    <script type="text/javascript" src="/wechat/resources/js/ui-bootstrap-tpls-1.3.3.min.js"></script>
    <script type="text/javascript" src="/wechat/resources/js/mobiscroll.custom-3.0.0-beta3.min.js"></script>
</head>

<body ng-controller="candidateController">
<script type="text/javascript">
    var app = angular.module('candidatePage', ['ui.bootstrap', 'mobiscroll-datetime']);
    var config = {
        params: {
            source: 'WeiXin'
        }
    };
</script>
<script type="text/javascript" src="/wechat/resources/js/candidate.js" charset="utf-8"></script>
<script>
    var winW = document.body.offsetWidth;
    var ht = document.getElementsByTagName('html');
    if (winW < 375) {
        angular.element(ht).css('font-size', 375 / 750 * 20 + "px");
    } else {
        angular.element(ht).css('font-size', winW / 750 * 20 + "px");
    }

    window.onresize = function () {
        winW = document.body.offsetWidth;
        ht = document.getElementsByTagName('html');
        if (winW < 375) {
            angular.element(ht).css('font-size', 375 / 750 * 20 + "px");
        } else {
            angular.element(ht).css('font-size', winW / 750 * 20 + "px");
        }

    }
</script>

<div class="privacy-content"
     ng-show="showPrivacy && !continue">
    <div class="btn-close">
        <img src="/wechat/resources/images/icon/close_hover.png"
             ng-click="continue = false; showPrivacy = false;">
        <!-- <button ng-click = "continue = false; showPrivacy = false;">Close</button> -->
    </div>

    <label>PwC Talent Exchange Privacy Statement</label>
    <div class="terms-privacy-content">
        <h3 class="terms-privacy-title">Introduction</h3>
        <hr>
        <p class="terms-privacy-para">
            PwC ('PwC', 'we', or 'us') is strongly committed to protecting the privacy of your personal information.
            This statement explains how PwC treats the personal information (i.e. information about you as an
            individual) you submit and we collect through the Careers website. By using the Careers website and
            submitting your personal information to PwC through this site, you agree that PwC may process your personal
            information for the purposes described below. PwC is the data controller for the information you provide
            through this website.
        </p>
        <p class="terms-privacy-para">
            'PwC' refers to the PwC member firm(s) that has posted a position for which you are applying. Each member
            firm in the PwC network is a separate legal entity. For further details, please see www.pwc.com/structure.
        </p>
    </div>
    <div class="terms-privacy-content">
        <h3 class="terms-privacy-title">Collecting your information</h3>
        <hr>
        <p class="terms-privacy-para">
            To help us with the recruitment process, we will collect personal information about you. If you register for
            and complete an online application form using the Careers website to apply for positions of employment with
            PwC, we will collect information about you (such as your name, email address, telephone number, address,
            your academic and professional qualifications and experiences, etc.) through the Careers website. You may
            also choose to import information about yourself into the Careers website from other websites (for example,
            from LinkedIn). You agree you will obtain any required third-party consent prior to importing any
            information onto the Careers website.
        </p>
        <p class="terms-privacy-para">
            PwC may seek additional data and/or verify your personal information by contacting your references, referrer
            and other third parties.
        </p>
        <p class="terms-privacy-para">
            PwC may also collect information about you from publicly available information sources. As permitted under
            applicable law, PwC may also conduct background checks, criminal record checks and assessments and use and
            store such information during the recruitment process.
        </p>
        <p class="terms-privacy-para">
            The information you provide to PwC via this Careers website, both now and in the future, will be held and
            processed by or on behalf of PwC for purposes related to application for current or future employment with
            PwC and the processing of your application
        </p>
    </div>
    <div class="terms-privacy-content">
        <h3 class="terms-privacy-title">Using your information</h3>
        <hr>
        <p class="terms-privacy-para">
            PwC firm that has posted the position for which you are applying. Your personal information may also be
            provided and disclosed to other PwC member firms to assist with their recruitment and employment activities.
        </p>
        <p class="terms-privacy-para">
            PwC may use your personal information for any or all of the following purposes:
        </p>
        <ul>
            <li>managing your application(s) for employment, evaluating you for open positions throughout the PwC
                network, and managing your candidate profile;
            </li>
            <li>evaluating your suitability for employment with PwC (including for example providing your personal
                information to third parties to conduct background checks);
            </li>
            <li>sending you email notifications and other announcements, requesting additional information, or otherwise
                contacting you about your candidacy;
            </li>
            <li>conducting statistical analyses and reports including for example regarding usage of the Careers
                website, demographic analyses of candidates, reports on PwC recruitment activities, and analyses of
                candidate sourcing channels;
            </li>
            <li>administering and managing the Careers website and communicating with you about it and relating to any
                other purposes for which you provided the information to PwC.
            </li>
        </ul>
        <p class="terms-privacy-para">
            Should you become an employee of a PwC member firm, any personal information you submit through the Careers
            website may be used in connection with your employment as permitted by applicable laws.
        </p>
    </div>
    <div class="terms-privacy-content">
        <h3 class="terms-privacy-title">Data retention</h3>
        <hr>
        <p class="terms-privacy-para">
            PwC will retain your information for as long as is required for the purposes for which it was provided or as
            required by applicable law.
        </p>
        <p class="terms-privacy-para">
            If your application is unsuccessful, PwC may retain and use the information you provided to PwC via the
            Careers website for a reasonable period of time to deal with any matter which may arise in connection with
            your application, for purposes of contacting you regarding other employment opportunities, and for PwC's
            legitimate business purposes.
        </p>
    </div>
    <div class="terms-privacy-content">
        <h3 class="terms-privacy-title">Transfers and disclosure of personal data</h3>
        <hr>
        <p class="terms-privacy-para">
            The PwC network is a global organisation with member firms throughout the world. PwC may transfer and
            disclose your information to other PwC member firms in connection with the purposes set out above. PwC may
            use resources and servers located in various countries around the world to process your personal data. As a
            result, your personal data may be transferred outside the country in which you live, from which you enter
            information into the Careers website, or where the position of employment for which you are applying is
            located. This includes countries outside the European Economic Area (EEA) that do not have laws that provide
            specific protection for personal data. For a list of countries in which PwC member firms are located see
            http://www.pwc.com/gx/en/office-locations/index.jhtml.
        </p>
        <p class="terms-privacy-para">
            PwC works with third parties who provide services to us. PwC may transfer (and in certain cases disclose)
            your personal information to those third party service providers, including entities that process data on
            behalf of PwC member firms or provide other services for the conduct of any PwC business (such as companies
            providing background or criminal check verification services to the extent such checks are permitted under
            applicable law); suppliers of IT, website management, data analysis, or data back-up, security and storage
            services. PwC takes appropriate technical, organisational and legal steps to secure your personal data. The
            third parties used by PwC may also use their own third parties (sub-processors). Both PwC's third parties
            and the third parties' sub-processors are under the duty to maintain appropriate levels of security and
            confidentiality and to only use information as instructed by PwC.
        </p>
        <p class="terms-privacy-para">
            As required by applicable law or regulation, PwC may disclose your personal data to law enforcement,
            regulatory, or other government agencies or to other third parties.
        </p>
        <p class="terms-privacy-para">
            By accepting the terms of this Privacy Statement, you agree that PwC may disclose your data to other PwC
            firms and PwC's third parties for the purposes set forth in this Privacy Statement, and that PwC may
            transfer your personal information outside your home country to jurisdictions which may not provide the same
            statutory protection for your personal information in connection with the purposes for which you provided
            the information to PwC.
        </p>
    </div>
    <div class="terms-privacy-content">
        <h3 class="terms-privacy-title">Sensitive information</h3>
        <hr>
        <p class="terms-privacy-para">
            If you provide sensitive personal information to PwC through the Careers website (by responding to questions
            or as part of your application, resume/CV or otherwise), you do so voluntarily and agree that such
            information may be used by PwC as described in this Privacy Statement. (Sensitive personal information may
            include for example information relating to your gender, race or ethnic origin, political opinions,
            religious beliefs, trade union membership, criminal records, physical or mental health, or sexual
            orientation.) PwC will not require you to provide sensitive personal information about yourself through the
            Careers website, except to the extent the collection of such information is required under applicable law.
        </p>
    </div>
    <div class="terms-privacy-content">
        <h3 class="terms-privacy-title">Third parties</h3>
        <hr>
        <p class="terms-privacy-para">
            If you are providing personal information about an individual other than yourself (for example, if you are
            submitting candidate information, resumes/CVs or other documents on behalf of candidates as an employment
            agency or submitting the details of a referee), you acknowledge that it is your responsibility to obtain,
            and confirm that you have obtained, the explicit consent of the individual before submitting any of his or
            her personal information through the Careers website.
        </p>
        <p class="terms-privacy-para">
            If you intend to provide PwC with a reference or personal information of anyone other than yourself as part
            of your CV/resume or otherwise, you confirm that you will not do unless you have first obtained each such
            individual's consent prior to entering their personal information into the Careers website.
        </p>
    </div>
    <div class="terms-privacy-content">
        <h3 class="terms-privacy-title">Updating and accessing your information</h3>
        <hr>
        <p class="terms-privacy-para">
            You can access your profile at any time to review or update the personal information you have submitted to
            the Careers website. If you want your information removed or deleted from the Careers website, please
            contact ats.privacy@us.pwc.com.
        </p>
        <p class="terms-privacy-para">
            If you would like details of the information that PwC holds about you, you have a right to get such
            information (subject to certain restrictions) by contacting PwC at the above email address. PwC may charge
            for a request to access your personal information, if permitted under applicable law.
        </p>
    </div>
    <div class="terms-privacy-content">
        <h3 class="terms-privacy-title">Withdrawal of your consent and deletion of your personal data</h3>
        <hr>
        <p class="terms-privacy-para">
            You may request that your information be deleted from the Careers website and revoke your consent to PwC's
            processing of your personal data. To do so, please submit a request in writing to ats.privacy@us.pwc.com.
            Because PwC must process your personal data in order to consider you for a position as part of the
            recruitment process, if you revoke your consent, PwC may need to terminate your application. PwC may retain
            certain information related to your application for a reasonable but limited period to meet applicable legal
            or records retention requirements.
        </p>
        <p class="terms-privacy-para">
            If you would like further details of PwC's data processing activities relating to the Careers website or
            have any other questions, please email PwC at ats.privacy@us.pwc.com.
        </p>
    </div>
    <div class="terms-privacy-content">
        <h3 class="terms-privacy-title">Cookies</h3>
        <hr>
        <p class="terms-privacy-para">
            If you use the Careers website, PwC may place small text files (called 'cookies') on your computer to allow
            PwC to identify you and provide a more customised user experience. Cookies provide information regarding how
            and when you have used the Careers website and helps PwC improve the Careers website. By clicking the
            consent button on the Careers website, you explicitly consent to PwC's use of cookies.
        </p>
        <p class="terms-privacy-para">
            If you do not wish to receive cookies, or want to be notified when they are placed, you may set your web
            browser to do so, if such function is supported by your web browser.
        </p>
        <p class="terms-privacy-para">
            Further information about cookies used on the Careers website is available at any time on the "Cookies" link
            on the Careers website.
        </p>
    </div>
    <div class="terms-privacy-content">
        <h3 class="terms-privacy-title">Security</h3>
        <hr>
        <p class="terms-privacy-para">
            PwC has implemented generally accepted standards of technology and operational security in order to protect
            your personal information from loss, misuse or destruction.
        </p>
        <p class="terms-privacy-para">
            In particular, PwC has put in place appropriate confidentiality obligations and technical and organisational
            security measures to prevent any unauthorised or unlawful disclosure or processing of such information and
            the accidental loss or destruction of or damage to such information.
        </p>
    </div>

    <label>Terms of Use</label>
    <div class="terms-privacy-content">
        <h3 class="terms-privacy-title">Updates</h3>
        <hr>
        <p class="terms-privacy-para">
            The Privacy Statement and Terms of Use are current as of the date on top of this page. PwC may update Terms
            of Use and Privacy Statement at any time by publishing an updated version. You can access the most current
            version of the PwC Careers website Terms of Use and Privacy Statement at any time on the Terms of Use and
            Privacy links on the Careers website. If you continue to use the Careers website after any changes to the
            Terms of Use or Privacy Statement, that will indicate you accept those changes.
        </p>
    </div>
    <div class="terms-privacy-content">
        <h3 class="terms-privacy-title">Your responsibilities</h3>
        <hr>
        <p class="terms-privacy-para">
            You are responsible for making sure any information submitted to the Careers website is accurate, complete
            and up-to-date. You may be ineligible for employment if you (or someone acting on your behalf) submit any
            inaccurate, false, or incomplete information to PwC through the Careers website or otherwise.
        </p>
        <p class="terms-privacy-para">
            You are also responsible for (i) keeping the information that you provide to PwC (e.g. your name, email
            address, telephone number, etc.) accurate, complete and up-to-date at all times; (ii) keeping your login
            credentials (e.g. user ID and password) secure, not allowing anyone else to access or use the Careers
            website using your login credentials, and notifying PwC promptly if you suspect any security breach or other
            suspicious activity; and (iii) complying with any additional terms that you have agreed with PwC, or
            additional reasonable responsibilities that PwC notifies to you. If you do not comply with these terms (or
            if PwC has reasonable grounds to suspect or is investigating suspected non-compliance), PwC may suspend your
            access to the Careers website or take any other steps PwC considers appropriate.
        </p>
    </div>
    <div class="terms-privacy-content">
        <h3 class="terms-privacy-title">Withdrawal of application</h3>
        <hr>
        <p class="terms-privacy-para">
            You may withdraw yourself from consideration for a particular employment opportunity at any time. To do so,
            you should contact the PwC individual listed as a contact person for the relevant employment opportunity.
        </p>
    </div>
    <div class="terms-privacy-content">
        <h3 class="terms-privacy-title">Liability</h3>
        <hr>
        <p class="terms-privacy-para">
            You acknowledge and accept that use of the Careers website is subject to the risks inherent in any
            connection and transmission on the internet, in particular in relation to security risks and
            vulnerabilities, technical performance and risk of interruption. Accordingly, PwC shall not be liable to you
            in any circumstances for any losses or damages caused by disruption or failure of internet networks or for
            any interruptions to or restrictions on the accessibility of the Careers website arising for any reason,
            including, but not limited to, by reason of a virus, security related vulnerability, or technical or
            operational failure of any nature.
        </p>
    </div>
    <div class="terms-privacy-content">
        <h3 class="terms-privacy-title">Monitoring</h3>
        <hr>
        <p class="terms-privacy-para">
            PwC may monitor your use of the Careers website from time to time but does not commit to doing so. If and
            when PwC does monitor your use of the site, it will do so in accordance with applicable law.
        </p>
    </div>
</div>

<div ng-show="continue">
    <div ng-show="candidate_stap == 0" ng-include="'/wechat/html/candidate/start.html'"></div>
    <div ng-show="candidate_stap == 1" ng-include="'/wechat/html/candidate/mobile_basicInformation.html'"></div>
    <div ng-show="candidate_stap == 2" ng-include="'/wechat/html/candidate/mobile_educationSkill.html'"></div>
    <div ng-show="candidate_stap == 3" ng-include="'/wechat/html/candidate/mobile_survey.html'"></div>
    <div ng-show="candidate_stap == 4" ng-include="'/wechat/html/candidate/mobile_uploadPhoto.html'"></div>
    <div ng-show="candidate_stap == 5" ng-include="'/wechat/html/candidate/mobile_provision.html'"></div>
    <div ng-show="candidate_stap == 6" ng-include="'/wechat/html/candidate/success.html'"></div>
</div>

<div class="container"
     ng-hide="showPrivacy || continue">
    <div class="reminder">
        <img class="logo" src="resources/images/logo.png">
        <p>You are about to visit PwC SDC Shanghai Career site.</p>
        <p>Please click "Continue" to visit.</p>
        <div>
            <button type="button"
                    class="btn next-btn"
                    ng-click='continue = true; showPrivacy = false;'>
                Continue
            </button>
        </div>
        <div class="link-privacy">
            <a href="javascript:;"
               ng-click='showPrivacy = true;'>Privacy Statement</a>
        </div>
    </div>
</div>

</body>

</html>
