<div class="candidate-step">
    <img class="step-img" src="/wechat/resources/images/icon/step4.png">
    <div class="step-name">
        <p>Step 4: Application & Interview</p>
        <!-- <p>第四步：上传照片(小于4M!)</p> -->
    </div>
</div>
<section class="step-content">
    <form name="forms.applicationInterview">
        <div class="form-group">
            <label for="apply-position" class="mob-col-4 mob-label"> Why do you want to join PwC SDC? (less than 50 words)</label>
            <div class="mob-col-6">
                <textarea type="text" class="form-control workDeatil" ng-model="candidate.joinReason" placeholder="" onpropertychange="this.style.height=this.scrollHeight+'px';" maxlength="50" oninput="this.style.height=this.scrollHeight+'px';" style="overflow-y: hidden; height: 1.5rem;"></textarea>
            </div>
            <!-- <p class="cn">详情</p> -->
        </div>
        <div class="form-group">
            <label for="apply-position" class="mob-col-4 mob-label"> Please specify that if you have internship or project experience in the IT consulting industry or not (less than 50 words)</label>
            <div class="mob-col-6">
                <textarea type="text" class="form-control workDeatil" ng-model="candidate.relatedExperience" placeholder="" onpropertychange="this.style.height=this.scrollHeight+'px';" maxlength="50" oninput="this.style.height=this.scrollHeight+'px';" style="overflow-y: hidden; height: 1.5rem;"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="apply-position" class="mob-col-4 mob-label"><span>*</span> What is your expectated monthly salary before tax after your graduation? </label>
            <div class="mob-col-6">
                <select class="form-control" name="salary" ng-model="candidate.expectatedSalary" ng-options="expectatedSalary for expectatedSalary in title.expectatedSalaries" placeholder="" required></select>
            </div>
        </div>
        <div class="form-group">
            <label for="apply-position" class="mob-col-4 mob-label"><span>*</span> Do you accept an on-site interview at PwC SDC Shanghai Office? </label>
            <div class="mob-col-6">
                <select class="form-control" name="shanghaiInterview" ng-model="candidate.shanghaiInterview" ng-options="shanghaiInterview for shanghaiInterview in title.boolean" placeholder="" required></select>
            </div>
        </div>
        <div class="form-group">
            <label for="apply-position" class="mob-col-4 mob-label"> If you choose NO for the above question, please find the city where you can have an on-site interview with us. </label>
            <div class="mob-col-6">
                <select class="form-control" name="othersInterview" ng-model="candidate.othersInterview" ng-options="othersInterview for othersInterview in title.interviewPlaces" placeholder=""></select>
            </div>
        </div>
        <div class="form-group">
            <label for="apply-position" class="mob-col-4 mob-label"><span>*</span> Do you accept that your working location is in Shanghai? </label>
            <div class="mob-col-6">
                <select class="form-control" name="workingShanghai" ng-model="candidate.workingShanghai" ng-options="workingShanghai for workingShanghai in title.boolean" placeholder="" required></select>
            </div>
        </div>
        <div class="title">
            <div class="title-name">
                <p class="eng"><span>*</span><b> From which channels did you get to know PwC SDC Campus Recruitment?</b></p>
            </div>
        </div>
        <div class="language-content">
            <label class="option" ng-class="{'selected':recruitmentSource[0]=='PwC SDC WeChat'}">
                <input ng-model="recruitmentSource[0]" ng-change="changerecuitmentSource()" type="checkbox" name="PwC SDC WeChat" ng-true-value="'PwC SDC WeChat'" ng-false-value="" value="option1">PwC SDC WeChat</label>
            <label class="option" ng-class="{'selected':recuitmentSource[1]=='SDC Internal Referral'}">
                <input ng-model="recuitmentSource[1]" ng-change="changerecuitmentSource()" type="checkbox" name="SDC Internal Referral" ng-true-value="'SDC Internal Referral'" ng-false-value="" value="option1">SDC Internal Referral</label>
            <label class="option" ng-class="{'selected':recuitmentSource[2]=='Campus Talk/Job Fair'}">
                <input ng-model="recuitmentSource[2]" ng-change="changerecuitmentSource()" type="checkbox" name="Campus Talk/Job Fair" ng-true-value="'Campus Talk/Job Fair'" ng-false-value="" value="option1">Campus Talk/Job Fair</label>
            <label class="option last" ng-class="{'selected':recuitmentSource[3]=='Recommendations from University Career Services/School Faculty/Classmates and Friends'}">
                <input ng-model="recuitmentSource[3]" ng-change="changerecuitmentSource()" type="checkbox" name="Recommendations from University Career Services/School Faculty/Classmates and Friends" ng-true-value="'Recommendations from University Career Services/School Faculty/Classmates and Friends'" ng-false-value="" value="option1">Recommendations from University Career Services/School Faculty/Classmates and Friends</label>
            <label class="option" ng-class="{'selected':recuitmentSource[4]=='School Website/BBS/Email/WeChat/QQ'}">
                <input ng-model="recuitmentSource[4]" ng-change="changerecuitmentSource()" type="checkbox" name="School Website/BBS/Email/WeChat/QQ" ng-true-value="'School Website/BBS/Email/WeChat/QQ'" ng-false-value="" value="option1">School Website/BBS/Email/WeChat/QQ</label>
            <label class="option" ng-class="{'selected':recuitmentSource[5]=='External Website/BBS/Email/WeChat/QQ'}">
                <input ng-model="recuitmentSource[5]" ng-change="changerecuitmentSource()" type="checkbox" name="External Website/BBS/Email/WeChat/QQ" ng-true-value="'External Website/BBS/Email/WeChat/QQ'" ng-false-value="" value="option1">External Website/BBS/Email/WeChat/QQ</label>
            <label class="option" ng-class="{'selected':recuitmentSource[6]=='Campus Promotional Materials (Easypull/Flyer/Banner)'}">
                <input ng-model="recuitmentSource[6]" ng-change="changerecuitmentSource()" type="checkbox" name="Campus Promotional Materials (Easypull/Flyer/Banner)" ng-true-value="'Campus Promotional Materials (Easypull/Flyer/Banner)'" ng-false-value="" value="option1">Campus Promotional Materials (Easypull/Flyer/Banner)</label>
            <div class="form-group others">
                <label for="name" class="mob-col-4 mob-label">Others, please specify:</label>
                <div class="mob-col-6">
                    <input ng-model="recuitmentSource[7]" ng-change="changerecuitmentSource()" type="text" name="Others" class="form-control" value="" placeholder="Others">
                </div>
                <!-- <p class="cn">其他</p> -->
            </div>
        </div>
        <div class="form-group">
            <label for="apply-position" class="mob-col-4 mob-label"><span>*</span> Do you think this online application process is easy to read and user-friendly? </label>
            <div class="mob-col-6">
                <select class="form-control" name="userFriendly" ng-model="candidate.userFriendly" ng-options="userFriendly for userFriendly in title.userFriendlys" placeholder="" required></select>
            </div>
        </div>
        <div class="form-group">
            <label for="apply-position" class="mob-col-4 mob-label"><span>*</span> Are you willing to recommend the campus recruitment of PwC SDC to your friends? </label>
            <div class="mob-col-6">
                <select class="form-control" name="recommendRecruitment" ng-model="candidate.recommendRecruitment" ng-options="recommendRecruitment for recommendRecruitment in title.recommendRecruitments" placeholder="" required></select>
            </div>
        </div>
    </form>
    <form id="photoForm" enctype="multipart/form-data">
        <label for="apply-position" class="mob-col-4 mob-label"><span>*</span> Upload your Recent Photo within 3 Months (less than 200K)</label>
        <input type="file" accept="image/*" file-model="candidatePhoto" data-default-file="" class="dropify" data-max-file-size="200K" />
        <button type="button" class="btn next-btn" ng-click="uploadPhoto(candidatePhoto)">Upload Photo</button>
    </form>
    <form id="cvForm" enctype="multipart/form-data">
        <label for="apply-position" class="mob-col-4 mob-label"><span>*</span> Upload your Bilingual CV (WORD/PDF/JPG format less than 500K)</label>
        <input type="file" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/vnd.sealedmedia.softseal-jpg" file-model="candidateCV" data-default-file="" class="dropify" data-max-file-size="500K" />
        <button type="button" class="btn next-btn" ng-click="uploadCV(candidateCV)">Upload CV</button>
    </form>

    <button type="button" class="btn next-btn" ng-disabled="forms.applicationInterview.$invalid || !recuitmentSourceinvalid || !photoinvalid || !cvinvalid" ng-click="nextStep(5)">Next</button>

    <button type="button" class="btn back-btn" ng-click="change_stap(3)">Back</button>
</section>
<script>
$(document).ready(function() {
    // Basic
    $('.dropify').dropify();

    // Translated
    $('.dropify-fr').dropify({
        messages: {
            default: 'Click and Choose a photo here',
            replace: 'Click and Choose a photo here',
            remove: 'Removed',
            error: 'Sorry, this photo is too large'
        }
    });

    // Used events
    var drEvent = $('#input-file-events').dropify();

    drEvent.on('dropify.beforeClear', function(event, element) {
        return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
    });

    drEvent.on('dropify.afterClear', function(event, element) {
        alert('File deleted');
    });

    drEvent.on('dropify.errors', function(event, element) {
        console.log('Has Errors');
    });

    var drDestroy = $('#input-file-to-destroy').dropify();
    drDestroy = drDestroy.data('dropify')
    $('#toggleDropify').on('click', function(e) {
        e.preventDefault();
        if (drDestroy.isDropified()) {
            drDestroy.destroy();
        } else {
            drDestroy.init();
        }
    })
});
</script>
