<div class="candidate-step">
    <img class="step-img" src="/wechat/resources/images/icon/step3.png">
    <div class="step-name">
        <p>Step 3: Experience & Practice</p>
     <!--    <p>第三步:调研</p> -->
    </div>
</div>
<form name="forms.survey">
    <section class="step-content">
        <div class="section">
            <!-- <div class="title">
                <div class="title-name">
                    <p class="eng"><b>Work Experience</b></p>
                    <p class="cn">工作经历</p>
                </div>
            </div> -->
            <div ng-repeat="workExp in candidate.workExperiences">
                <div class="form-group">
                    <label for="apply-position" class="mob-col-4 mob-label"><span>*</span> Please choose the type of internship or practice experience you have taken in your campus life?</label>
                    <div class="mob-col-6">
                        <select class="form-control" name="worktype" required ng-model="workExp.worktype" ng-options="worktype for worktype in title.workTypies">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="apply-position" class="mob-col-4 mob-label"><span>*</span> Company or Organization (if none, please fill in "NO")</label>
                    <div class="mob-col-6">
                        <input type="text" class="form-control" ng-model="workExp.company" required placeholder="Please enter your company or organization">
                    </div>
                    <!-- <p class="cn">公司名称</p> -->
                </div>
                <div class="form-group">
                    <label for="apply-position" class="mob-col-4 mob-label"><span>*</span> Position (if none, please fill in "NO")</label>
                    <div class="mob-col-6">
                        <input type="text" class="form-control" ng-model="workExp.position" required placeholder="Please enter your position">
                    </div>
                    <!-- <p class="cn">职位</p> -->
                </div>
                <div class="form-group">
                    <label for="apply-position" class="mob-col-4 mob-label"><span>*</span> Duration of Internship or Practice (if none, please choose "NO")</label>
                    <div class="mob-col-6">
                        <div class="mob-col-4">
                            <input type="text" name="dateStart" class="form-control" ng-model="workExp.workdateStart" required="noDate" placeholder="yyyy-mm-dd" mobiscroll-date="settings" mobiscroll-instance="date" />
                        </div>
                        <div style="float:left;line-height: 1.7rem" class="mob-col-2">——</div>
                        <div class="mob-col-4">
                            <input type="text" name="dateEnd" class="form-control" ng-model="workExp.workdateEnd" required="noDate" placeholder="yyyy-mm-dd" mobiscroll-date="settings" mobiscroll-instance="date" />
                        </div>
                    </div>
                    <div class="mob-col-6">
                        <input ng-model="noDate" type="checkbox" name="noDate" ng-true-value="true" ng-false-value="false" required="!noDate">NO</label>
                    </div>
                    <!-- <p class="cn">在职时间</p> -->
                </div>
                <div class="form-group">
                    <label for="apply-position" class="mob-col-4 mob-label"><span>*</span>What was your role and your major achievement? (less than 100 words)</label>
                    <div class="mob-col-6">
                        <textarea type="text" class="form-control workDeatil" ng-model="workExp.details" placeholder="" onpropertychange="this.style.height=this.scrollHeight+'px';" maxlength="100" required oninput="this.style.height=this.scrollHeight+'px';" style="overflow-y: hidden; height: 1.5rem;"></textarea>
                    </div>
                    <!-- <p class="cn">详情</p> -->
                </div>
            </div>
            <div class="more">
                <img src="/wechat/resources/images/icon/add.png" ng-click="addWorkExp()" class="left add-icon">
                <p class="left">More Experience Of Work</p>
                <img src="/wechat/resources/images/icon/close.png" ng-show="workExpShow" ng-click="dropWorkExp()" class="right close-icon">
            </div>
            <div class="error-info">
                <p ng-show="forms.survey.$invalid && forms.survey.submitted">You need to fill out all the information with '<span>*</span>',fill the blanks in English.</p>
            </div>
            <button type="button" class="btn next-btn" ng-disabled="forms.survey.$invalid" ng-click="nextStep(forms.survey.$invalid,4)">Next</button>
            <button type="button" class="btn back-btn" ng-click="change_stap(2)">Back</button>
        </div>
        <!-- <div class="section"> -->
            <!-- <div class="title">
                <div class="title-name">
                    <p class="eng"><b>Survey</b></p>
                    <p class="cn">调研</p>
                </div>
            </div> -->
            
           <!--  <div class="form-group question" ng-repeat="questionnaire in questionnaires.questAndAnswerList">
                <label class="mob-label">{{$index+1}}) {{question.english[$index].question}}</label>
                <label class="mob-label cn">{{$index+1}}) {{question.chinese[$index].question}}</label>
                <div>
                    <textarea id="textarea{{$index+1}}" class="form-control " name="answer" ng-change="check_char({{$index+1}})" ng-required="true" ng-model="questionnaire.answer" placeholder="Please enter your point" onpropertychange="this.style.height=this.scrollHeight+'px';" oninput="this.style.height=this.scrollHeight+'px';" style="overflow-y: hidden; height: 2rem;"></textarea>
                    <span id="span{{$index+1}}" hidden=t rue>{{count}}/200</span>
                </div>
            </div> -->
           <!--  <div class="error-info">
                <p ng-show="questionNull && forms.survey.submitted">You need to fill out all questions<span>你需要填完所有问题</span></p>
            </div> -->
            <!-- <button type="button" class="btn next-btn" ng-click="nextStep(true,4)">Next</button>
            <button type="button" class="btn back-btn" ng-click="change_stap(2)">Back</button>
        </div> -->
    </section>
</form>
