<div style="height:auto;" class="section position-information">
	<p style="height:auto;"  class="title"><span>Position Information</span></p>
	<div class="position-content preview_info">
	<div class="row">
		<div class="form-group col-sm-6">
		    <label for="apply-position" class="col-sm-4 col-xs-6 control-label"><span>*</span>Position Applied for:</label>
		    <div class="col-sm-8 col-xs-6">
		    	<span ng-bind="candidate.applicationPosition"></span>
		    </div>
		</div>
		<div class="form-group col-sm-6">
		    <label for="Availability" class="col-sm-4 col-xs-6 control-label"><span>*</span>Availability:</label>
		    <div class="col-sm-8 col-xs-6">
		    	<span ng-bind="availableSchedule"></span>
		    </div>
		</div>
	</div>
	</div>
</div>
<div class="section personal-information preview_info">
	<p class="title"><span>Personal Information</span></p>
	<div class="personal-content">
	<div class="row">
		<div class="form-group col-sm-6">
		    <label for="name" class="col-sm-4 col-xs-6 control-label"><span>*</span>Name:</label>
		    <div class="col-sm-8 col-xs-6">
		    	<span ng-bind="candidate.name"></span>
		    </div>
		</div>
		<div class="form-group col-sm-6">
		    <label for="province" class="col-sm-4 col-xs-6 control-label"><span>*</span>Current Province:</label>
		    <div class="col-sm-8 col-xs-6">
		    	<span ng-bind="candidate.currentProvince"></span>
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6">
		    <label for="gender" class="col-sm-4 col-xs-6 control-label">Gender:</label>
		    <div class="col-sm-5 col-xs-6">
		    	<span ng-bind="candidate.gender"></span>
		    </div>
		</div>
		<div class="form-group col-sm-6">
		    <label for="nationality" class="col-sm-4 col-xs-6 control-label"><span>*</span>Nationality:</label>
		    <div class="col-sm-8 col-xs-6">
		    	<span ng-bind="candidate.nationality"></span>
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6">
		    <label for="id-number" class="col-sm-4 col-xs-6 control-label"><span>*</span>ID Number:</label>
		    <div class="col-sm-8 col-xs-6">
		    	<span ng-bind="candidate.nationalId"></span>
		    </div>
		</div>
		<div class="form-group col-sm-6">
		    <label for="passport-no" class="col-sm-4 col-xs-6 control-label">Passport NO:</label>
		    <div class="col-sm-8 col-xs-6">
		    	<span ng-bind="candidate.passportNumber"></span>
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6">
		    <label for="birthday" class="col-sm-4 col-xs-6 control-label"><span>*</span>Birthday:</label>
		    <div class="col-sm-8 col-xs-6">
		    	<span ng-bind="candidate.birthday|date:'yyyy-MM-dd';"></span>
		    </div>
		</div>
		<div class="form-group col-sm-6">
		    <label for="birth-province" class="col-sm-4 col-xs-6 control-label">Birth Province:</label>
		    <div class="col-sm-8 col-xs-6">
		    	<span ng-bind="candidate.birthProvince"></span>
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6">
		    <label for="birth-province" class="col-sm-4 col-xs-6 control-label">Home Phone:</label>
		    <div class="col-sm-8 col-xs-6">
		    	<span ng-bind="candidate.homePhone"></span>
		    </div>
		</div>
		<div class="form-group col-sm-6">
		    <label for="birth-province" class="col-sm-4 col-xs-6 control-label"><span>*</span>Cell Phone:</label>
		    <div class="col-sm-8 col-xs-6">
		   		<span ng-bind="candidate.cellPhone"></span>
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6">
		    <label for="birth-province" class="col-sm-4 col-xs-6 control-label"><span>*</span>E-mail:</label>
		    <div class="col-sm-8 col-xs-6">
		    	<span ng-bind="candidate.mailAddress"></span>
		    </div>
		</div>
		<div class="form-group col-sm-6">
		    <label for="birth-province" class="col-sm-4 col-xs-6 control-label">PersonalPage:</label>
		    <div class="col-sm-8 col-xs-6">
		    	<span ng-bind="candidate.personalPage"></span>
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6">
		    <label for="professional-skill" class="col-sm-4 col-xs-6 control-label"><span>*</span>Professional Skill:</label>
		    <div class="col-sm-8 col-xs-6">
		    	<span ng-bind="candidate.skillsDescribe"></span>
		    </div>
		</div>
		<div class="form-group col-sm-6">
		    <label for="post-graduation-plan" class="col-sm-4 col-xs-6 control-label"><span>*</span>Post-Graduation Plan:</label>
		    <div class="col-sm-8 col-xs-6">
		    	<span ng-bind="candidate.graduatePlan"></span>
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6">
		    <label for="graduation-time" class="col-sm-4 col-xs-6 control-label"><span>*</span>Graduation Time:</label>
		    <div class="col-sm-8 col-xs-6">
		    	<span ng-bind="candidate.graduateTime|date:'yyyy-MM-dd'"></span>
		    </div>
		</div>
	</div>
	</div>				
</div>

<div class="section language-skill preview_info">
	<p class="title"><span>Language Skill</span></p>
	<div class="language-content">
		<span ng-bind="languageLevelPreview"></span>
	</div>
</div>

	<div class="section education-experience preview_info">
		<p class="title"><span>Education Experience</span></p>
		<div class="education-content" ng-repeat="eduExp in candidate.educationExperiences">
		<div class="row">
			<div class="form-group col-sm-6">
				<label for="apply-position" class="col-sm-4 col-xs-5 control-label"><span>*</span>University:</label>
				<div class="col-sm-8 col-xs-6">
				<span ng-bind="eduExp.university"></span>
			</div>
			</div>
			<div class="form-group col-sm-6">
				<label for="apply-position" class="col-sm-4 col-xs-5 control-label"><span>*</span>Major:</label>
				<span ng-bind="eduExp.major"></span>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6">
				<label for="apply-position" class="col-sm-4 col-xs-5 control-label"><span>*</span>Period:</label>
				<div class="col-sm-8 col-xs-6">
					<span ng-bind="eduExp.periodStart|date:'yyyy-MM-dd'"></span> - <span ng-bind="eduExp.periodEnd|date:'yyyy-MM-dd'"></span>
				</div>
			</div>
			<div class="form-group col-sm-6">
				<label for="apply-position" class="col-sm-4 col-xs-5 control-label">GPA:</label>
				<div class="col-sm-8 col-xs-6">
					<span ng-bind="eduExp.gpa"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6">
				<label for="apply-position" class="col-sm-4 col-xs-5 control-label"><span>*</span>Degree:</label>
				<div class="col-sm-8 col-xs-6">
					<span ng-bind="eduExp.degree"></span>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="section work-experience preview_info">
		<p class="title"><span>Work Experience</span></p>
		<div class="work-content" ng-repeat="workExp in candidate.workExperiences">
		<div class="row">
			<div class="form-group col-sm-6">
			<label for="apply-position" class="col-sm-4 col-xs-5 control-label">Company:</label>
				<div class="col-sm-8 col-xs-6">
					<span ng-bind="workExp.company"></span>
				</div>
			</div>
			<div class="form-group col-sm-6">
				<label for="apply-position" class="col-sm-4 col-xs-5 control-label">Position:</label>
				<div class="col-sm-8 col-xs-6">
					<span ng-bind="workExp.position"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6">
				<label for="apply-position" class="col-sm-4 col-xs-6 control-label">Date of Employment:</label>
				<div class="col-sm-8 col-xs-6">
					<span ng-bind="workExp.workdateStart|date:'yyyy-MM-dd'"></span> - <span ng-bind="workExp.workdateEnd|date:'yyyy-MM-dd'"></span>
				</div>
			</div>
			<div class="form-group col-sm-6">
				<label for="apply-position" class="col-sm-4 col-xs-5 control-label">Details:</label>
				<div class="col-sm-8 col-xs-6">
					<span ng-bind="workExp.details"></span>
				</div>
			</div>
		</div>
		</div>
	</div>
<div class="section questions preview_info">
<p class="title"><span>Questions</span></p>
    <div class="survey_cell" ng-repeat="questionnaire in questionnaires.questAndAnswerList">
        <div>
            <label ng-model="questionnaire.question">{{$index+1}}) {{questionnaire.question}}</label>
            <br><div><span ng-bind="questionnaire.answer"></span></div>
        </div>
    </div>
    </div>


<div class="weui_dialog_alert" data-ng-show="notice.show">
				<div class="weui_mask"></div>
				<div class="weui_dialog">
					<div class="weui_dialog_hd">
						<strong class="weui_dialog_title">Notice</strong>
					</div>
					<div class="weui_dialog_bd" ng-bind="errorinfo">Information is in the wrong format<br>Please confirm again</div>
					<div class="weui_dialog_ft">
						<a href="javascript:;" class="weui_btn_dialog primary" data-ng-click="hideNotice()">Got it</a>
					</div>
				</div>
			</div>

<div data-ng-show="successToast.show">
                <div class="weui_mask_transparent"></div>
                <div class="weui_toast"> <i class="weui_icon_toast"></i>
                    <p class="weui_toast_content">Success</p>
                </div>
            </div>

            <div data-ng-show="loadingToast.show" class="weui_loading_toast">
                <div class="weui_mask_transparent"></div>
                <div class="weui_toast">
                    <div class="weui_loading" id="leafs">
                        <div class="weui_loading_leaf_0 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_1 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_2 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_3 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_4 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_5 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_6 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_7 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_8 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_9 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_10 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_11 weui_loading_leaf" ></div>
                    </div>
                    <p class="weui_toast_content">Loading</p>
                </div>
            </div>
<button ui-sref="addcandidate.survey" type="button" class="btn back-btn">Back</button>

<!-- <button ui-sref="survey" type="button" class="btn back-btn">Back</button> -->
<button type="button" class="btn next-btn" ng-click="submitCandidate()">Submit</button>
<script>
	$(".on").removeClass("on");$("#candidate").addClass("on");
</script>
