<ul class="process-guide">
    <li class="step step1">Basic Information</li>
    <li class="step">Skills&Education</li>
    <li class="step">Survey</li>
    <li>Upload Photo</li>
</ul>
<div class="candidate-step">
    <h2>Basic information</h2>
    <h3>基本信息</h3>
    <p class="eng">You need to fill out all the information with ‘<span>*</span>’,fill the blanks in English.</p>
    <p class="cn"><span>*</span>号为必填项，请用英文填写／输入</p>
</div>
<!-- <div class="error_info" ng-show="basicinformation.applicationPosition.$invalid||basicinformation.availableSchedule.$invalid||
basicinformation.candidateName.$invalid||basicinformation.currentProvince.$invalid||
basicinformation.nationality.$invalid||basicinformation.IDnumber.$invalid||
basicinformation.birthday.$invalid||basicinformation.cellPhone.$invalid||
basicinformation.Email.$invalid||basicinformation.skillsDescribe.$invalid||
basicinformation.graduatePlan.$invalid||basicinformation.graduationTime.$invalid||!candidate.gender">You need to fill out all the information with '*'</div> -->
<form name="forms.basicinformation" novalidate>
    <div class="section position-information">
        <div class="title">
            <div class="title-name">
                <p class="eng">Position Information</p>
                <p class="cn">职位信息</p>
            </div>
        </div>
        <div class="position-content row">
            <div class="form-group col-sm-4">
                <label for="apply-position" class="control-label">
                    <p class="eng"><span>*</span>Position Applied for</p>
                    <p class="cn">申请职位</p>
                </label>
                <select ng-model="candidate.applicationPosition" name="applicationPosition" required class="form-control" ng-options="positionOption for positionOption in title.positionOptions"></select>
            </div>
            <div class="col-sm-2"></div>
            <div class="form-group col-sm-4">
                <label for="Availability" class="control-label">
                    <p class="eng"><span>*</span>Attendance Per Week</p>
                    <p class="cn">出勤天数</p>
                </label>
                <select ng-model="candidate.availableSchedule" name="availableSchedule" ng-change="selectavailable()" required class="form-control" ng-options="availabilityOption.value as availabilityOption.option for availabilityOption in title.availabilityOptions"></select>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="section personal-information" id="basicinformation">
        <div class="title">
            <div class="title-name">
                <p class="eng">Personal Information</p>
                <p class="cn">个人信息</p>
            </div>
        </div>
        <div class="personal-content">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="name" class="control-label">
                        <p class="eng"><span>*</span>Name</p>
                        <p class="cn">姓名</p>
                    </label>
                    <input ng-model="candidate.name" type="text" class="form-control" name="candidateName" required placeholder="Please enter your name" ng-class="{'error': forms.basicinformation.candidateName.$error.required && forms.basicinformation.submitted}">
                </div>
                <div class="col-sm-2 check-icon"><img src="/wechat/resources/images/icon/checkmark2.gif" ng-hide="forms.basicinformation.candidateName.$error.required"></div>
                <div class="form-group col-sm-4">
                    <label for="name" class="control-label">
                        <p class="eng">Home Phone</p>
                        <p class="cn">家庭电话</p>
                    </label>
                    <input type="text" ng-model="candidate.homePhone" class="form-control" id="birth-province" placeholder="Please enter your home phone">
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="name" class="control-label">
                        <p class="eng"><span>*</span>Gender</p>
                        <p class="cn">性别</p>
                    </label>
                    <div class="radio">
                        <label class="col-sm-6"><input type="radio" name="gender" value="male" ng-model="candidate.gender" checked><span>Male</span></label>
                        <label class="col-sm-6"><input type="radio" name="gender" value="female" ng-model="candidate.gender"><span>Female</span></label>
                    </div>
                    
                    <!-- <ul>
                        <li ng-class="{'selected':candidate.gender=='male'}" ng-click="selectGender('male')" value="male" name="male">Male</li>
                        <li ng-class="{'selected':candidate.gender=='female'}" ng-click="selectGender('female')" value="male" name="female">Female</li>
                    </ul> -->
                </div>
                <div class="col-sm-2"></div>
                <div class="form-group col-sm-4">
                    <label for="name" class="control-label">
                        <p class="eng"><span>*</span>Mobile Phone</p>
                        <p class="cn">手机号码</p>
                    </label>
                    <input type="text" ng-model="candidate.cellPhone" class="form-control" name="cellPhone" required placeholder="Please enter your mobile phone" ng-pattern="/^1\d{10}$/" ng-class="{'error': forms.basicinformation.cellPhone.$invalid && forms.basicinformation.submitted}">
                </div>
                <div class="col-sm-2 check-icon"><img src="/wechat/resources/images/icon/checkmark2.gif" ng-hide="forms.basicinformation.cellPhone.$invalid"></div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="name" class="control-label">
                        <p class="eng"><span>*</span>Birthday</p>
                        <p class="cn">生日</p>
                    </label>
                    <input ng-click="openbirthday()" readonly class="form-control" uib-datepicker-popup ng-model="candidate.birthday" is-open="popupbirthday.opened" name="birthday" datepicker-options="dateOptions" required close-text="Close" alt-input-formats="altInputFormats" placeholder="yyyy-mm-dd" ng-class="{'error' : forms.basicinformation.birthday.$error.required && forms.basicinformation.submitted}"/>
                </div>
                <div class="col-sm-2 check-icon"><img src="/wechat/resources/images/icon/checkmark2.gif" ng-hide="forms.basicinformation.birthday.$error.required"></div>
                <div class="form-group col-sm-4">
                    <label for="name" class="control-label">
                        <p class="eng"><span>*</span>Email</p>
                        <p class="cn">邮箱</p>
                    </label>
                    <input type="email" ng-model="candidate.mailAddress" class="form-control" name="Email" required placeholder="Please enter your email" ng-class="{'error': forms.basicinformation.Email.$invalid && forms.basicinformation.submitted}">
                </div>
                <div class="col-sm-2 check-icon"><img src="/wechat/resources/images/icon/checkmark2.gif" ng-hide="forms.basicinformation.Email.$invalid"></div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="name" class="control-label">
                        <p class="eng"><span>*</span>ID Number</p>
                        <p class="cn">身份证</p>
                    </label>
                    <input type="text" ng-model="candidate.nationalId" class="form-control" name="IDnumber" required ng-pattern="/^[1-9]{1}[0-9]{14}$|^[1-9]{1}[0-9]{16}([0-9]|[xX])$/" placeholder="Please enter your ID number" ng-class="{'error' : (forms.basicinformation.submitted ? (!(!forms.basicinformation.IDnumber.$error.required && forms.basicinformation.IDnumber.$valid) || (!forms.basicinformation.passportNumber.$error.required && forms.basicinformation.passportNumber.$valid)) : false )}">
                </div>
                <div class="col-sm-2 check-icon"><img src="/wechat/resources/images/icon/checkmark2.gif" ng-hide="(forms.basicinformation.IDnumber.$error.required && forms.basicinformation.passportNumber.$error.required) || ((!forms.basicinformation.IDnumber.$error.required) && forms.basicinformation.IDnumber.$invalid) || (forms.basicinformation.passportNumber.$dirty && forms.basicinformation.IDnumber.$error.required)"></div>
                <div class="form-group col-sm-4">
                    <label for="name" class="control-label">
                        <p class="eng">Personal Page</p>
                        <p class="cn">个人主页</p>
                    </label>
                    <input type="text" ng-model="candidate.personalPage" class="form-control" id="PersonalPage" placeholder="Please enter your home page">
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="name" class="control-label">
                        <p class="eng">Passport NO</p>
                        <p class="cn">护照号</p>
                    </label>
                    <input type="text" ng-model="candidate.passportNumber" class="form-control" name="passportNumber" required ng-pattern="/^[a-zA-Z]{5,17}$|^[a-zA-Z0-9]{5,17}$/" placeholder="Please enter your passport number" ng-class="{'error' : (forms.basicinformation.submitted ? (!(!forms.basicinformation.IDnumber.$error.required && forms.basicinformation.IDnumber.$valid) || (!forms.basicinformation.passportNumber.$error.required && forms.basicinformation.passportNumber.$valid)) : false )}">
                </div>
                <div class="col-sm-2 check-icon"><img src="/wechat/resources/images/icon/checkmark2.gif" ng-hide="(forms.basicinformation.IDnumber.$error.required && forms.basicinformation.passportNumber.$error.required) || ((!forms.basicinformation.passportNumber.$error.required) && forms.basicinformation.passportNumber.$invalid) || (forms.basicinformation.IDnumber.$dirty && forms.basicinformation.passportNumber.$error.required)"></div>
                <div class="form-group col-sm-4">
                    <label for="name" class="control-label">
                        <p class="eng"><span>*</span>Professional Skill</p>
                        <p class="cn">专业技能</p>
                    </label>
                    <input type="text" ng-model="candidate.skillsDescribe" name="skillsDescribe" required class="form-control" placeholder="e.g. JAVA, Fiance, ..." ng-class="{'error' : forms.basicinformation.skillsDescribe.$error.required && forms.basicinformation.submitted}">
                </div>
                <div class="col-sm-2 check-icon"><img src="/wechat/resources/images/icon/checkmark2.gif" ng-hide="forms.basicinformation.skillsDescribe.$error.required"></div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="name" class="control-label">
                        <p class="eng"><span>*</span>Nationality</p>
                        <p class="cn">国籍</p>
                    </label>
                    <input type="text" ng-model="candidate.nationality" class="form-control" name="nationality" required placeholder="Please enter your nationality" ng-class="{'error' : forms.basicinformation.nationality.$error.required && forms.basicinformation.submitted}">
                </div>
                <div class="col-sm-2 check-icon"><img src="/wechat/resources/images/icon/checkmark2.gif" ng-hide="forms.basicinformation.nationality.$error.required"></div>
                <div class="form-group col-sm-4">
                    <label for="name" class="control-label">
                        <p class="eng"><span>*</span>Graduate Date</p>
                        <p class="cn">毕业时间</p>
                    </label>
                    <input ng-click="opengraduationtime()" readonly class="form-control" uib-datepicker-popup ng-model="candidate.graduateTime" is-open="popupgraduationtime.opened" name="graduationTime" datepicker-options="dateOptions" required close-text="Close" alt-input-formats="altInputFormats" placeholder="yyyy-mm-dd" ng-class="{'error' : forms.basicinformation.graduationTime.$error.required && forms.basicinformation.submitted}"/>
                </div>
                <div class="col-sm-2 check-icon"><img src="/wechat/resources/images/icon/checkmark2.gif" ng-hide="forms.basicinformation.graduationTime.$error.required"></div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="name" class="control-label">
                        <p class="eng">Birth Province</p>
                        <p class="cn">出生地</p>
                    </label>
                    <input type="text" ng-model="candidate.birthProvince" class="form-control" id="birth-province" placeholder="Please enter your birth province">
                </div>
                <div class="col-sm-2"></div>
                <div class="form-group col-sm-4">
                    <label for="name" class="control-label">
                        <p class="eng"><span>*</span>Plan After Graduation</p>
                        <p class="cn">毕业后计划</p>
                    </label>
                    <select ng-model="candidate.graduatePlan" name="graduatePlan" required class="form-control" ng-options="graduatePlanOption for graduatePlanOption in title.graduatePlanOptions"></select>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="name" class="control-label">
                        <p class="eng"><span>*</span>Current Address</p>
                        <p class="cn">现居地</p>
                    </label>
                    <input ng-model="candidate.currentProvince" type="text" class="form-control" name="currentProvince" required placeholder="Please enter your current address" ng-class="{'error' : forms.basicinformation.currentProvince.$error.required && forms.basicinformation.submitted}">
                </div>
                <div class="col-sm-2 check-icon"><img src="/wechat/resources/images/icon/checkmark2.gif" ng-hide="forms.basicinformation.currentProvince.$error.required"></div>
            </div>
        </div>
    </div>
        <button type="button" class="btn next-btn"  ng-click="nextStep((forms.basicinformation.candidateName.$invalid || forms.basicinformation.currentProvince.$invalid || forms.basicinformation.nationality.$invalid || (forms.basicinformation.IDnumber.$invalid && forms.basicinformation.passportNumber.$invalid) || forms.basicinformation.birthday.$invalid || forms.basicinformation.cellPhone.$invalid || forms.basicinformation.Email.$invalid || forms.basicinformation.skillsDescribe.$invalid || forms.basicinformation.graduationTime.$invalid),'education')" >Continue</button>
    <!--     <button type="button" class="btn next-btn" ui-sref="education" ng-click="forms.basicinformation.submitted ='true'"ng-disabled="forms.basicinformation.candidateName.$invalid || forms.basicinformation.currentProvince.$invalid || forms.basicinformation.nationality.$invalid || (forms.basicinformation.IDnumber.$invalid && forms.basicinformation.passportNumber.$invalid) || forms.basicinformation.birthday.$invalid || forms.basicinformation.cellPhone.$invalid || forms.basicinformation.Email.$invalid || forms.basicinformation.skillsDescribe.$invalid || forms.basicinformation.graduationTime.$invalid">Continue</button> -->

</form>
