<div class="contact-title">
    <h2>Contact Us</h2>
</div>
<img class="contact-img img-responsive" src="/wechat/resources/images/contact_1.jpg">
<div class="contact-content">
    <img class="contact-icon" src="/wechat/resources/images/icon/e-mail.gif"><span>cn_campus@pwc.com</span>
</div>
<div class="contact-content">
    <img class="contact-icon" src="/wechat/resources/images/icon/telephone.gif"><span>60366800  ext.6307</span>
</div>
<div class="contact-content location">
<p><img class="contact-icon" src="/wechat/resources/images/icon/location.gif"><span class="eng">PricewaterhouseCoopers Information Technologies (Shanghai) Co., Ltd. Level 6, Building B, Lane 2889, Jinke Road, Pudong New District, Shanghai P.R.C.</span>
        <br><span class="cn">中国上海浦东新区金科路2889弄长泰广场办公楼B座6楼</span></p>
</div>
<img class="img-responsive" src="/wechat/resources/images/contact_2.jpg">
