<ul class="process-guide">
    <li class="step step1-done">Basic Information<img src="/wechat/resources/images/icon/checkmark.gif"></li>
    <li class="step step2">Skills&Education</li>
    <li class="step">Survey</li>
    <li>Upload Photo</li>
</ul>
<div class="candidate-step">
    <h2>Skills & Education</h2>
    <h3>技能和教育</h3>
    <p class="eng">You need to fill out all the information with ‘<span>*</span>’,fill the blanks in English.</p>
    <p class="cn"><span>*</span>号为必填项，请用英文填写／输入</p>
</div>
<form name="forms.educationSkill">
    <div class="section language-skill">
        <div class="title" id="education">
            <div class="title-name">
                <p class="eng"><span>*</span>Language Skill</p>
                <p class="cn">语言技能</p>
            </div>
        </div>
        <div class="language-content">
            <label class="checkbox-inline">
                <input ng-model="languageLevel[0]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'CET-4'" ng-false-value="" id="optionsRadios1" value="option1"><span>CET-4</span></label>
            <label class="checkbox-inline">
                <input ng-model="languageLevel[1]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'CET-6'" ng-false-value="" id="optionsRadios1" value="option1"><span>CET-6</span></label>
            <label class="checkbox-inline">
                <input ng-model="languageLevel[2]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'TEM-4'" ng-false-value="" id="optionsRadios1" value="option1"><span>TEM-4</span></label>
            <label class="checkbox-inline">
                <input ng-model="languageLevel[3]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'TEM-8'" ng-false-value="" id="optionsRadios1" value="option1"><span>TEM-8</span></label>
            <label class="checkbox-inline">
                <input ng-model="languageLevel[4]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'JPT-1'" ng-false-value="" id="optionsRadios1" value="option1"><span>JPT-1</span></label>
            <label class="checkbox-inline">
                <input ng-model="languageLevel[5]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'JPT-2'" ng-false-value="" id="optionsRadios1" value="option1"><span>JPT-2</span></label>
            <label class="checkbox-inline">
                <input ng-model="languageLevel[6]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'JPT-3'" ng-false-value="" id="optionsRadios1" value="option1"><span>JPT-3</span></label>
            <label class="lang-other">
                <input ng-model="languageLevel[7]" ng-change="changeLanguageLevel()" type="text" name="optionsRadios" id="optionsRadios1" class="form-control" value="" placeholder="Other" ng-class="{'error' : LanguageSkillinvalid && forms.educationSkill.submitted}">
            </label>
            <img class="lang-icon" src="/wechat/resources/images/icon/checkmark2.gif" ng-hide="LanguageSkillinvalid">
        </div>
    </div>
    <div class="row section education-experience">
        <div class="title">
            <div class="title-name">
                <p class="eng"><span>*</span>Education Experience</p>
                <p class="cn">教育经历</p>
            </div>
        </div>
        <p class="error-info" ng-show="isEduNull && forms.educationSkill.submitted">Please fill in education experience.</p>
        <div class="education-content" ng-repeat="eduExp in candidate.educationExperiences">
            <div class="row">
                <div class="form-group col-sm-10">
                    <label for="name" class="control-label">
                        <p class="eng"><span>*</span>University</p>
                        <p class="cn">大学</p>
                    </label>
                    <div class="muti-select">
                        <div class="col-sm-3 ">
                            <select class="form-control" ng-model="eduExp.province" ng-options="u.province for u in title.universityOption" ng-change="selectProvince(eduExp.province,{{$index}})">
                                <option value="">-- Province --</option>
                            </select>
                        </div>
                        <div class="col-sm-1" ></div>
                        <div class="col-sm-3" ng-hide="eduExp.selectedOther">
                            <select class="form-control" ng-model="eduExp.city" ng-options="u.city for u in eduExp.province.cities" ng-change="selectCity(eduExp.city,{{$index}})">
                                <option value="">-- City --</option>
                            </select>
                        </div>
                        <div class="col-sm-1" ng-hide="eduExp.selectedOther"></div>
                        <div class="col-sm-4" ng-hide="eduExp.selectedOther">
                            <select class="form-control" name="university{{$index}}" required ng-model="eduExp.university" ng-options="u for u in eduExp.city.universities">
                                <option value="">-- University --</option>
                            </select>
                        </div>
                        <div class="col-sm-1" ng-hide="eduExp.selectedOther"></div>
                        <div class="col-sm-8" ng-show="eduExp.selectedOther">
                            <input class="form-control " name="university{{$index}}" required ng-model="eduExp.university" placeholder="University" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 check-icon"><img src="/wechat/resources/images/icon/checkmark2.gif" ng-hide="forms.educationSkill.university{{$index}}.$error.required"></div>
            </div>
            <div class="row">
                <div class="form-group col-sm-10">
                    <label for="name" class="control-label">
                        <p class="eng"><span>*</span>Major</p>
                        <p class="cn">专业</p>
                    </label>
                    <div class="muti-select">
                        <div class="col-sm-5">
                            <select class="form-control" ng-model="eduExp.division" ng-options="m.division for m in title.major">
                                <option value="">-- Class --</option>
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-6">
                            <select class="form-control" name="major{{$index}}" required ng-model="eduExp.major" ng-options="m for m in eduExp.division.sections">
                                <option value="">-- Section --</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 check-icon"><img src="/wechat/resources/images/icon/checkmark2.gif" ng-hide="forms.educationSkill.major{{$index}}.$error.required"></div>
            </div>
            <div class="row">
                <div class="form-group col-sm-10">
                    <label for="name" class="control-label">
                        <p class="eng"><span>*</span>Period</p>
                        <p class="cn">在读时间</p>
                    </label>
                    <div class="muti-select">
                        <div class="col-sm-5">
                            <input name="periodStart{{$index}}" readonly ng-click="openperiodStart($index)" class="form-control" uib-datepicker-popup ng-model="eduExp.periodStart" is-open="popupperiodStart[$index].opened" datepicker-options="dateOptions" required close-text="Close" alt-input-formats="altInputFormats" placeholder="yyyy-mm-dd" />
                        </div>
                        <div style="text-align:center;line-height:30px;" class="col-sm-2">——</div>
                        <div class="col-sm-5">
                            <input ng-click="openperiodEnd($index)" readonly name="periodEnd{{$index}}" class="form-control" uib-datepicker-popup ng-model="eduExp.periodEnd" is-open="popupperiodEnd[$index].opened" datepicker-options="dateOptions" required close-text="Close" alt-input-formats="altInputFormats" placeholder="yyyy-mm-dd" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 check-icon"><img src="/wechat/resources/images/icon/checkmark2.gif" ng-hide="!(!forms.educationSkill.periodStart{{$index}}.$error.required && !forms.educationSkill.periodEnd{{$index}}.$error.required)"></div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="name" class="control-label">
                        <p class="eng">GPA</p>
                        <p class="cn">绩点</p>
                    </label>
                    <input type="number" class="form-control" ng-model="eduExp.gpa" name="apply-position{{$index}}" placeholder="Please enter your GPA">
                </div>
                <div class="col-sm-2"></div>
                <div class="form-group col-sm-4">
                    <label for="name" class="control-label">
                        <p class="eng"><span>*</span>Degree</p>
                        <p class="cn">学历</p>
                    </label>
                    <select class="form-control" name="degree{{$index}}" required ng-model="eduExp.degree" ng-options="degree for degree in title.degrees">
                        <option value="">-- Degree --</option>
                    </select>
                </div>
                <div class="col-sm-2 check-icon"><img src="/wechat/resources/images/icon/checkmark2.gif" ng-hide="forms.educationSkill.degree{{$index}}.$error.required"></div>
            </div>
        </div>
        <div class="more-exp">
            <img class="icon" src="/wechat/resources/images/icon/add.png" ng-click="addEduExp()">
            <span>More Experience Of Education</span>
            <img class="icon" src="/wechat/resources/images/icon/close.png" ng-click="dropEduExp()" ng-show="eduExpShow">
        </div>
    </div>
    <div class="row section work-experience">
        <div class="title">
            <div class="title-name">
                <p class="eng">Work Experience</p>
                <p class="cn">工作经历</p>
            </div>
        </div>
        <div class="work-content" ng-repeat="workExp in candidate.workExperiences">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="name" class="control-label">
                        <p class="eng">Company</p>
                        <p class="cn">公司名称</p>
                    </label>
                    <input type="text" class="form-control" ng-model="workExp.company" placeholder="Please enter your company">
                </div>
                <div class="col-sm-2"></div>
                <div class="form-group col-sm-4">
                    <label for="name" class="control-label">
                        <p class="eng">Position</p>
                        <p class="cn">职位</p>
                    </label>
                    <input type="text" class="form-control" ng-model="workExp.position" placeholder="Please enter your position">
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="form-group col-sm-10">
                    <label for="name" class="control-label">
                        <p class="eng">Date of Employment</p>
                        <p class="cn">在职时间</p>
                    </label>
                    <div class="muti-select">
                        <div class="col-sm-5">
                            <input name="dateStart" readonly ng-click="openworkdateStart($index)" class="form-control" uib-datepicker-popup ng-model="workExp.workdateStart" is-open="popupworkdateStart[$index].opened" datepicker-options="dateOptions" required close-text="Close" alt-input-formats="altInputFormats" placeholder="yyyy-mm-dd" />
                        </div>
                        <div style="text-align:center;line-height:30px;" class="col-sm-2">——</div>
                        <div class="col-sm-5">
                            <input ng-click="openworkdateEnd($index)" readonly name="dateEnd" class="form-control" uib-datepicker-popup ng-model="workExp.workdateEnd" is-open="popupworkdateEnd[$index].opened" datepicker-options="dateOptions" required close-text="Close" alt-input-formats="altInputFormats" placeholder="yyyy-mm-dd" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="form-group col-sm-10">
                    <label for="name" class="control-label">
                        <p class="eng">Details</p>
                        <p class="cn">详情</p>
                    </label>
                    <textarea type="text" class="form-control workDeatil" ng-model="workExp.details" placeholder="Please enter your details"></textarea>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="more-exp work-exp">
            <img class="icon" ng-click="addWorkExp()" src="/wechat/resources/images/icon/add.png">
            <span>More Experience Of Work</span>
            <img class="icon" ng-click="dropWorkExp()" src="/wechat/resources/images/icon/close.png" ng-show="workExpShow">
        </div>
    </div>
        <button type="button" class="btn next-btn" ng-click="nextStep(isEduNull || LanguageSkillinvalid,'survey')">Continue</button>
    <!--     <button type="button" class="btn next-btn" ui-sref="survey" ng-disabled="isEduNull || LanguageSkillinvalid||forms.educationSkill.university.$invalid||forms.educationSkill.major.$invalid||forms.educationSkill.periodStart.$invalid||forms.educationSkill.periodEnd.$invalid||forms.educationSkill.degree.$invalid">Continue</button> -->
    <button type="button" class="btn back-btn" ui-sref="basic">Previous</button>
</form>
