<ul class="process-guide">
    <li class="step step1-done">Basic Information<img src="/wechat/resources/images/icon/checkmark.gif"></li>
    <li class="step step2-done">Skills&Education<img src="/wechat/resources/images/icon/checkmark.gif"></li>
    <li class="step step3-done">Survey<img src="/wechat/resources/images/icon/checkmark.gif"></li>
    <li class="step step4-done">Upload Photo<img src="/wechat/resources/images/icon/checkmark.gif"></li>
</ul>
<section class="provision step-content">
    <div class="provision-title">
        <h2>PricewaterhouseCoopers Information Technologies Employment Regulation</h2>
        <h3>普华永道信息技术（上海）有限公司录用员工规定</h3>
    </div>
    <div class="provision-content">
        <p>In order to hire the qualified employees and maintain the good image of PricewaterhouseCoopers Information Technologies (Shanghai) Co., Ltd. (the firm), all new hires should comply with the following employment regulation which are enacted according to China related laws and regulations:</p>
        <span>为确保公司员工队伍的素质，维护公司的良好信誉，根据相关法律，特制定本规定：</span>
    </div>
    <div class="provision-content">
        <p>1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Health <span>身体条件</span>
            <br> 1.1&nbsp;&nbsp;&nbsp;The new hires should go to the assigned hospital to take the physical check, which result should show that they are eligible to take the job according to the different requirments of the positions.</p>
        <span>被录用人员必须接受指定医院的入职体检，且报告结果显示合格，并能根据公司各类工作性质的要求从事不同的工作。</span>
    </div>
    <div class="provision-content">
        <p>1.2&nbsp;&nbsp;&nbsp;The new hires can't hide any Psychological diseases, any infectious disease or any human organs defect caused by a disease or the congenital.</p>
        <span>被录用人员不得隐瞒患有或曾患有精神类疾病，或隐瞒因疾病引起的或先天性的人体器官缺陷及传染病等疾病。</span>
    </div>
    <div class="provision-content step">
        <p>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Morality <span>品德要求</span>
            <br> 2.1&nbsp;&nbsp;&nbsp;Employees must not only be honest and faithful, but also comply with the policies of the firm and the laws of the country.</p>
        <span>被录用人员必须品行端正、诚实守信，并严格遵守公司各项规章制度和国家法律法规。</span>
    </div>
    <div class="provision-content">
        <p>2.2&nbsp;&nbsp;&nbsp;Employees can't hide the experiences of any administrative penalty, security punishment or criminal punishment.</p>
        <span>被录用人员不得隐瞒曾受过行政处分、治安处罚和刑事处罚的经历。</span>
    </div>
    <div class="provision-content step">
        <p>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Education and Working Experiences <span>学历要求和工作经历</span>
            <br> 3.1&nbsp;&nbsp;&nbsp;The education of the new hires is qualified with the requirements of the job position they apply for.</p>
        <span>被录用人员的学历应符合其应聘岗位的专业要求。</span>
    </div>
    <div class="provision-content">
        <p>3.2&nbsp;&nbsp;&nbsp;The new hires can't hide, forge or falsify their education certificates, professional qualification certificates, working experiences or the physical check report of new hires.</p>
        <span>被录用人员不得隐瞒、伪造、编造其学历、职称、资格证书、工作经历及进公司时的体检报告。</span>
    </div>
    <div class="provision-content">
        <p>3.3&nbsp;&nbsp;&nbsp;The new hires can't hide the facts that they signed the Non-Competing Agreement or the Confidentiality Agreement with the former employers. </p>
        <span>被录用人员不得隐瞒其与原任职单位签署过不竞争协议、保密协议的记录。</span>
    </div>
    <div class="provision-content step">
        <p>4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enactment & Explanation <span>制定和解释</span>
            <br> This regulation was enacted and can be explained by HR Team of the firm.</p>
        <span>本规定由公司人力资源部制定并负责解释。</span>
    </div>
    <div class="provision-content">
        <p>Declaration <span>声明</span>
            <br> I hereby certify all of the statements made on the employment application form are true and complete and I understand that omission or misrepresentation of any fact may result in refusal of employment or immediate dismissal.</p>
        <span>本人在此保证，本人在此职位申请表中填写的所有情况均属实和完整。由于情况遗漏或失实可能导致的申请被拒绝，本人表示理解。</span>
    </div>
    <div class="provision-content">
        <p>I recognize that in connection with employment with PricewaterhouseCoopers Information Technologies (Shanghai) Co., Ltd. I may be the subject of a background enquiry by PricewaterhouseCoopers Information Technologies (Shanghai) Co., Ltd. and I hereby authorize the same. </p>
        <span>本人清楚并认可，在向普华永道信息技术（上海）有限公司申请职位的过程中，本人可能成为相关背景核实的调查对象。</span>
    </div>
</section>
<section class="provision step-content fix">
    <button type="button" class="btn next-btn" ng-click="submitCandidate()">Agree and Submit</button>
    <button type="button" class="btn back-btn" ui-sref="survey">Previous</button>
</section>
<!-- loading -->
<div class="loading-toast" ng-show="loadingToast.show">
    <div class="mask"></div>
    <div class="spinner">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
</div>
<!-- notice information -->
<script type="text/ng-template" id="notice.html">
    <div class="modal-header">
        <h3 class="modal-title">Notice</h3>
    </div>
    <div class="modal-body">
        <p ng-bind="errorinfo"></p>
        <button class="btn btn-block next-btn" ng-click="ok()">Got it</button>
    </div>
</script>
<!-- success information -->
<script type="text/ng-template" id="success.html">
    <div class="modal-header">
        <h3 class="modal-title">Congratulations</h3>
    </div>
    <div class="modal-body">
        <p>Your application is accepted!</p>
        <button class="btn btn-block next-btn" ng-click="ok()" ui-sref="contact">OK</button>
    </div>
</script>
