<div class="side-content">
    <nav nav-focus id="menu" class="navbar-default navbar-fixed-side side_menu" role="navigation">
        <div class="sidebar-collapse collapse in">
            <ul class="nav" id="side-menu">
                <li class="sidebar-user">My Profile</li>
                <li>
                    <a class="extend" href="javascript:;">
                        <i class="fa fa-list-ul fa-fw"></i> Fill Process
                    </a>
                    <ul id="process" class="nav nav-second-level">
                        <li ui-sref-active="on">
                            <a ui-sref="basic">
                                Basic Information
                            </a>
                        </li>
                        <li ui-sref-active="on">                       
                            <a ui-sref="education" ng-show ="basicSuccess == true">
                                Skills &Education
                            </a>
                            <a ng-show ="basicSuccess != true">
                                Skills &Education
                            </a>
                        </li>
                        <li ui-sref-active="on">
                            <a ui-sref="survey" ng-show ="eduSuccess == true">
                               Survey
                            </a>
                            <a ng-show ="eduSuccess != true">
                               Survey
                            </a>
                        </li>
                        <li ui-sref-active="on">
                            <a ui-sref="uploadPhoto" ng-show ="surSuccess == true">
                                Upload Photo
                            </a>
                            <a ng-show ="surSuccess != true">
                                Upload Photo
                            </a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="on">
                    <a ui-sref="contact">
                        <i class="fa fa-phone fa-fw"></i> Contact us
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
