<ul class="process-guide">
    <li class="step step1-done">Basic Information<img src="/wechat/resources/images/icon/checkmark.gif"></li>
    <li class="step step2-done">Skills&Education<img src="/wechat/resources/images/icon/checkmark.gif"></li>
    <li class="step step3">Survey</li>
    <li>Upload Photo</li>
</ul>
<div class="candidate-step survey-step" id="survey">
    <h2>Survey</h2>
    <h3>调研</h3>
    <p class="eng">You need to fill out all the information with ‘<span>*</span>’,fill the blanks in English.</p>
    <p class="cn"><span>*</span>号为必填项，请用英文填写／输入</p>
</div>
<!-- <div class="error_info" ng-show="survey.answer.$invalid">You need to fill out all the information with '*'</div> -->
<form name="forms.survey" class="section questions" >
    <p class="error-info" ng-show="(questionNull || (!questionNull && !countFlag)) && forms.survey.submitted">You need to fill out all questions<span>&nbsp;&nbsp;你需要填完所有问题</span></p>
    <div class="survey_cell form-group" ng-repeat="questionnaire in questionnaires.questAndAnswerList">
        <label class="eng">{{$index+1}}) {{question.english[$index].question}}</label>
        <label class="cn">{{$index+1}})&nbsp;&nbsp; {{question.chinese[$index].question}}</label>
        <div class="row">
            <textarea id="textarea{{$index+1}}" class="form-control" name="answer" ng-change="check_char({{$index+1}})" ng-required="true" ng-model="questionnaire.answer" placeholder="Please enter your point"></textarea>
            <script type="text/javascript">
                function h(e) {
                  $(e).css({'height':'auto'}).height(e.scrollHeight);
                }
                $('textarea').each(function () {
                  h(this);
                }).on('input', function () {
                  h(this);
                }).on('focus', function () {
                  h(this);
                });
            </script>
        </div>
        <span id="span{{$index+1}}" hidden=true>{{count}}/200</span>
    </div>
</form>
<button type="button" class="btn next-btn" ng-click="nextStep(questionNull || (!questionNull && !countFlag),'uploadPhoto')">Continue</button>
<!-- <button type="button" class="btn next-btn" ui-sref="uploadPhoto" ng-disabled="questionNull || (!questionNull && !countFlag)">Continue</button> -->
<button type="button" class="btn back-btn" ui-sref="education">Previous</button>
