<ul class="process-guide">
    <li class="step step1-done">Basic Information<img src="/wechat/resources/images/icon/checkmark.gif"></li>
    <li class="step step2-done">Skills&Education<img src="/wechat/resources/images/icon/checkmark.gif"></li>
    <li class="step step3-done">Survey<img src="/wechat/resources/images/icon/checkmark.gif"></li>
    <li class="step step4">Upload Photo</li>
</ul>
<div class="candidate-step survey-step">
    <h2>Upload Photo</h2>
    <h3>上传照片</h3>
    <p class="eng">You need to fill out all the information with ‘<span>*</span>’,fill the blanks in English.</p>
    <p class="cn"><span>*</span>号为必填项，请用英文填写／输入</p>
</div>
<section class="step-content">
    <form id="photoForm" enctype="multipart/form-data">
        <input type="file" accept="image/*" file-model="candidatePhoto" data-default-file="" class="dropify" data-max-file-size="4M" />
    </form>
    <p class="upload-eng">Upload photo should be less than 4M</p>
    <p class="upload-cn">上传照片须小于4M</p>
    <button type="button" class="btn next-btn" ui-sref="provision" ng-click="uploadPhoto(candidatePhoto)">Continue</button>
    <button type="button" class="btn back-btn" ui-sref="survey">Previous</button>
<!--     <button type="button" class="btn back-btn" ui-sref="survey" ng-click="change_stap(3)">Back</button>
    <button type="button" class="btn next-btn" ui-sref="provision" ng-click="uploadPhoto(candidatePhoto)">Next</button> -->
</section>
<script>
$(document).ready(function() {
    // Translated
    $('.dropify').dropify({
        messages: {
            default: 'Choose a photo',
            replace: 'Choose a photo',
            remove: 'Removed',
            error: 'Sorry, this photo is too large'
        }
    });

    // Used events
    var drEvent = $('#input-file-events').dropify();

    drEvent.on('dropify.beforeClear', function(event, element) {
        return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
    });

    drEvent.on('dropify.afterClear', function(event, element) {
        alert('Photo deleted');
    });

    drEvent.on('dropify.errors', function(event, element) {
        console.log('Has Errors');
    });

    var drDestroy = $('#input-file-to-destroy').dropify();
    drDestroy = drDestroy.data('dropify')
    $('#toggleDropify').on('click', function(e) {
        e.preventDefault();
        if (drDestroy.isDropified()) {
            drDestroy.destroy();
        } else {
            drDestroy.init();
        }
    })
});
</script>
