* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

p,
h2,
h3,
.row {
    margin: 0;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 2px solid #ededed;
}

.navbar-default {
    background: #fff;
}

.navbar-header {
    float: left;
}

.navbar-toggle {
    background: #ff8b00;
    border-radius: 0;
    border: none;
    margin-top: 15px;
    margin-left: 15px;
}

.navbar-header .navbar-toggle .icon-bar {
    background: #fff;
}

.navbar-header .navbar-toggle:focus,
.navbar-header .navbar-toggle:hover {
    background: #ff8b00;
}

.navbar-brand {
    display: inline-block;
    min-height: 62px;
    padding: 12px 15px 14px 25px;
    font-size: 14px;
    font-family: 'Georgia';
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.navbar-brand img {
    display: inline-block;
    width: 46px;
    height: 36px;
    vertical-align: baseline;
}

.navbar-brand span {
    display: inline-block;
    color: #000;
    line-height: 14px;
    margin-left: 18px;
    font-family: 'Georgia';
}

.navbar-signout {
    float: right;
    margin: 0;
    font-size: 14px;
    font-family: 'Georgia';
    font-weight: bold;
    font-style: italic;
    color: #000;
    line-height: 14px;
}

.navbar-signout>li>a {
    font-family: 'Georgia';
    font-size: 14px;
    margin: 34px 32px 14px 0;
    padding: 0;
    color: #000;
}

#menu.navbar-default {
    background: #ff8b00;
}

.navbar-signout>li>a:focus,
.navbar-signout>li>a:hover {
    background: #fff;
}

#menu .sidebar-user {
    display: block;
    padding: 35px 8px 50px 15px;
    background: #ededed;
}

#menu .sidebar-user .user-img {
    float: left;
    display: inline-block;
}

#menu .sidebar-user .user-img span {
    width: 54px;
    height: 54px;
    display: inline-block;
}

#menu .sidebar-user .user-img img {
    border: 0.75px solid #ff8b00;
    width: 100%;
    height: 100%;
}

#menu .sidebar-user .user-info {
    display: inline-block;
    margin-left: 5px;
    color: #333;
}

#menu .sidebar-user .user-info .user-name {
    font-family: Georgia;
    font-weight: bold;
    font-style: italic;
    color: #333;
    line-height: 32px;
    font-size: 16px;
}

#menu .sidebar-user .user-info .manager-hyperlink {
    font-family: Helvetica;
    color: #999;
    font-size: 14px;
    margin: 8px 0 0 0;
    line-height: 1;
    padding: 0 0 0 0;
}

#menu .sidebar-user .user-info .manager-hyperlink:hover {
    font-family: Helvetica;
    color: black;
    font-size: 14px;
    margin: 8px 0 0 0;
    line-height: 1;
    text-decoration: none;
    background: #ededed;
    padding: 0 0 0 0;
}

#menu li a {
    color: #fff;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 16px;
    padding: 17px 8px 17px 15px;
}

/*#menu li a:hover {
    background-color: #fff;
    color: #ff8b00;
}

#menu li a:hover i {
    color: #ff8b00;
}*/

#menu li a i {
    width: 16px;
    height: 16px;
    color: #fff;
    font-size: 16px;
}

#process li a i {
    width: 8px;
}

#process li a {
    padding: 17px 8px 17px 33px;
}

#side-menu .on a {
    background: #fff;
    color: #ff8b00;
}

#menu .on a i {
    color: #ff8b00;
}

.aside {
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 210px;
    background: #ededed;
    overflow: hidden;
    padding: 0;
}

.user-info .user-role {
    font-family: Helvetica;
    color: #999;
    font-size: 14px;
    margin: 0;
}

.nav>li span {
    font-family: 'HelveticaNeue-RomanRegular';
    font-size: 16px;
    color: #fff;
    line-height: 16px;
}

.nav>li span i {
    vertical-align: middle;
}

.content {
    margin: 0 0 0 224px;
    padding: 0 32px 0 40px;
}

.angle-right {
    width: 16px;
}

.nav-sub li a {
    color: #fff;
    padding-left: 34px;
}

.nav>li>.auto:focus {
    background-color: #ff8b00;
}

.nav>li>.auto:focus span {
    color: #fff;
}

.nav>li>.auto:hover {
    background-color: #ff8b00;
}

.nav>li>.auto:hover span {
    color: #fff;
}

.nav>li>a:hover span {
    color: #ff8b00;
}

.side-content {
    padding-top: 64px;
}

@media (min-width: 768px) {
    #menu.navbar-fixed-side {
        position: fixed;
        width: 223px;
        bottom: 0;
        top: 64px;
    }
}

@media (max-width: 768px) {
    .content {
        margin-left: 0;
    }
}

#side-menu .extend:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: #fff;
}

/*#side-menu .extend:hover:after {
    color: #ff8b00;
}*/

#side-menu .extend.collapsed:after {
    content: "\e080";
}

.navbar-brand img {
    vertical-align: middle;
}

.navbar-brand span {
    font-size: 18px;
    vertical-align: middle;
    margin-top: 10px;
    font-style: normal;
}

#menu .sidebar-user {
    font-family: Georgia;
    font-weight: bold;
    font-size: 22px;
    padding-left: 42px;
}

#process li a {
    padding-left: 45px;
}

#menu li a i {
    margin-right: 10px;
}

.content {
    padding: 40px 40px 80px 40px;
}


/*process-bar*/

.process-guide {
    font-size: 16px;
    height: 40px;
    border-left: solid 2px #EEEDEB;
    border-right: 2px solid #EEEDEB;
    overflow: hidden;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom: 40px;
}

.process-guide li {
    font-family: Georgia;
    float: left;
    position: relative;
    border-top: solid 2px #EEEDEB;
    border-bottom: solid 2px #EEEDEB;
    background: #fff;
    height: 40px;
    line-height: 36px;
    color: #000;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 25%;
    text-align: center;
}

.process-guide li img {
    vertical-align: inherit;
    height: 14px;
    margin-left: 5%;
}

.process-guide .step1,
.process-guide .step2,
.process-guide .step3,
.process-guide .step4 {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    background: #C0C0C0;
    color: #000;
}

.process-guide .step1-done,
.process-guide .step2-done,
.process-guide .step3-done,
.process-guide .step4-done {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    background: #FF8B00;
    color: #fff;
}

.process-guide .step2-done,
.process-guide .step3-done,
.process-guide .step4-done {
    padding-left: 20px;
}

.process-guide li:last-child {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.process-guide .step:after,
.process-guide .step:before {
    border: 18.5px solid transparent;
    border-left: 15px solid #fff;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -33px;
    z-index: 11;
    content: ' '
}

.process-guide .step:before {
    border-left-color: #EEEDEB;
    right: -35px;
    z-index: 10;
}

.process-guide .step1:after,
.process-guide .step2:after,
.process-guide .step3:after,
.process-guide .step4:after {
    border-left-color: #C0C0C0;
}

.process-guide .step1-done:after,
.process-guide .step2-done:after,
.process-guide .step3-done:after,
.process-guide .step4-done:after {
    border-left-color: #FF8B00;
}


/*content*/

.candidate-step {
    padding-bottom: 10px;
    border-bottom: 2px solid #EEEDEB;
    margin-bottom: 40px;
}

.survey-step {
    border-bottom: 2px solid #ff8b00;
}

.candidate-step h2 {
    font-family: Georgia;
    font-size: 22px;
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
}

.candidate-step h3 {
    font-size: 12px;
    color: #828282;
    margin-top: 0;
    margin-bottom: 20px;
}

.candidate-step p {
    font-size: 14px;
    color: #828282;
}

.candidate-step .eng {
    font-family: Helvetica;
}

.candidate-step p span,
.title-name p span {
    color: red;
}

.section .title {
    border-bottom: 1px solid #E6E4E1;
    height: 64px;
}

.section .title-name {
    display: inline-block;
    border-bottom: 1px solid #ff8b00;
}

.section .title-name .eng {
    font-family: Helvetica;
    font-size: 18px;
    color: #333;
}

.section .title-name .cn {
    font-size: 12px;
    color: #828282;
    padding-bottom: 16px;
}

.position-content {
    margin: 10px 0 15px 0;
}

.personal-content {
    margin: 16px 0 45px 0;
}

.form-group,
.muti-select>div {
    padding: 0;
}

.form-group label p span {
    color: red;
}

.form-group label {
    margin-bottom: 8px;
}

.form-group .eng,
.upload-eng,
.provision-content p {
    font-family: Helvetica;
    font-size: 16px;
    color: #333;
    font-weight: normal;
}

.form-group .cn,
.upload-cn,
.provision-content span {
    font-size: 12px;
    color: #828282;
    font-weight: normal;
}

.form-control {
    border-radius: 0;
}

.lang-other {
    font-weight: normal;
    margin-bottom: 0;
}

.radio {
    margin: 0;
}

.radio input,
.checkbox-inline input {
    width: 18px;
    height: 18px;
}

.radio label,
.checkbox-inline,
.lang-other input,
.survey_cell textarea {
    font-size: 16px;
}

.checkbox-inline {
    margin-bottom: 8px;
    margin-right: 40px;
}

.checkbox-inline+.checkbox-inline {
    margin-left: 0;
}

.radio label span {
    margin: 0 10px;
}

.checkbox-inline span {
    margin: 0 8px;
}

.back-btn {
    float: right;
    background: #C0C0C0;
    font-family: Georgia;
    font-size: 16px;
    color: #fff;
    padding: 10px 70px;
    margin-right: 30px;
}

.next-btn {
    float: right;
    background: #F78A1B;
    font-family: Georgia;
    font-size: 16px;
    color: #fff;
    padding: 10px 70px;
}

.next-btn.focus,
.next-btn:focus,
.next-btn:hover,
.back-btn.focus,
.back-btn:focus,
.back-btn:hover,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    color: #fff;
    outline: none;
}

input[type=checkbox] {
    margin: 4px 0 0;
}

.language-content {
    margin: 10px 0 30px 0;
}

.education-content {
    margin: 10px 0 0 0;
}

.work-content {
    margin: 17px 0 0 0;
}

.more-exp {
    margin-top: 5px;
    margin-bottom: 30px;
}
.more-exp .icon{
	cursor: pointer;
}

.section.questions,
.more-exp.work-exp,
.upload-cn,
.contact-content.location {
    margin-bottom: 60px;
}

.more-exp .icon {
    width: 16px;
    height: 16px;
}

.check-icon {
    margin-top: 58px;
    padding-left: 20px;
}

.check-icon img,.language-content .lang-icon{
    width: 20px;
    height: 20px;
}
.language-content .lang-icon{
	margin-left: 3%;
}
.more-exp .icon+span {
    vertical-align: middle;
}

.survey_cell label {
    display: block;
}

.survey_cell.form-group .eng {
    color: #323232;
    line-height: 20px;
    margin-bottom: 6px;
}

.survey_cell,
.survey_cell.form-group .cn,
.dropify-wrapper {
    margin-bottom: 20px;
}

.dropify-wrapper {
    height: 700px;
}

.provision-title {
    border-bottom: 2px solid #ff8b00;
    margin-bottom: 30px;
}

.provision-title h2 {
    font-family: Georgia;
    font-size: 22px;
    margin-bottom: 10px;
}

.provision-title h3 {
    font-size: 18px;
    color: #828282;
    margin-bottom: 9px;
}

.provision-content,
.contact-content {
    margin-bottom: 30px;
}

.provision-content.step {
    margin-top: 50px;
}

.provision.step-content {
    margin-bottom: 130px;
}

.spinner {
    width: 50px;
    height: 50px;
    z-index: 1100;
    position: fixed;
    left: 50%;
    top: 38%
}

.container1 > div,
.container2 > div,
.container3 > div {
    width: 12px;
    height: 12px;
    background-color: #ff8b00;
    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.circle1 {
    top: 0;
    left: 0;
}

.circle2 {
    top: 0;
    right: 0;
}

.circle3 {
    right: 0;
    bottom: 0;
}

.circle4 {
    left: 0;
    bottom: 0;
}

.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.mask {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 1090;
}

.contact-title {
    border-bottom: 2px solid #ff8b00;
}

.contact-title h2 {
    font-family: Georgia;
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 40px;
}

.contact-content>span {
    font-family: Helvetica;
    font-size: 16px;
    color: #333;
    margin-left: 20px;
}

.contact-content.location p {
    padding-left: 40px;
}

.contact-content.location p .contact-icon {
    margin-left: -40px;
    width: 20px;
    margin-right: 20px;
}

.contact-content.location .eng {
    font-family: Helvetica;
    font-size: 16px;
    color: #333;
}

.contact-content.location .cn {
    font-size: 16px;
    color: #828282;
}

.contact-icon {
    width: 20px;
}


/*modal*/

.modal-header {
    padding: 20px 30px;
}

.modal-title {
    font-family: Georgia;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    line-height: 1;
}

.modal-body {
    padding: 20px 30px 40px 30px;
}

.modal-body p {
    font-family: Georgia;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: #828282;
}
.modal-content{
	border-radius: 0;
}

.btn-block.next-btn {
    float: none;
    background: #ff8b00;
    font-size: 20px;
    padding: 5px 70px;
    margin-top: 60px;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 800px;
        margin: 200px auto;
    }
}
textarea{
    resize: none;
}
.contact-img {
    margin: 20px auto 40px auto;
}
/*datepicker*/
.uib-daypicker .btn,.uib-monthpicker .btn,.uib-yearpicker .btn{
	border:none;
}
:focus{
	outline: none;
}
.form-control.error,.lang-other .error{
    border:1px solid red;
}
.education-experience .error-info{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color:red;
}
.questions .error-info{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color:red;
}