.dialog_mask{
	background:rgba(0,0,0,.6);
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 999999;
}
.dialog_error_dialog{
    position: fixed;
    z-index: 13;
    width: 30%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #fafafc;
    text-align: center;
    border-radius: 3px;
    z-index: 99999999;
}
.dialog_error_hd{
    padding: 1.2em 0 .5em;
}
.dialog_error_title{
    font-weight: 400;
    font-size: 17px;
}
.dialog_error_bd{
    padding: 0 20px;
    font-size: 15px;
    color: #888;
    word-wrap: break-word;
    word-break: break-all;
}
.dialog_error_ft{
    position: relative;
    line-height: 42px;
    margin-top: 20px;
    font-size: 17px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #d5d5d6;
}
.dialog_error_ft:active{
	background-color:#f6f6f6; 
}
.dialog_error_ft a{
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #FC8B01;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.dialog_toast{
	position: fixed;
    z-index: 3;
    width: 9.9em;
    min-height: 7.6em;
    top: 180px;
    left: 50%;
    margin-left: -3.8em;
    background: rgba(40,40,40,.75);
    text-align: center;
    border-radius: 5px;
    color: #fff;
    z-index: 99999999;
}
.dialog_success_icon {
    margin: 22px 0 0;
    display: block;
}
.dialog_success_icon:before {
    content: '\2714';
    color: #fff;
    font-size: 60px;
}
.dialog_success_content {
    margin: 0 0 15px;
}

.dialog_loading {
    position: absolute;
    width: 0;
    z-index: 2000000000;
    left: 50%;
    top: 38%;
}
 .dialog_loading_leaf{position:absolute;top:-1px;opacity:.25}
 .dialog_loading_leaf:before
 {content:" ";position:absolute;width:8.14px;height:3.08px;background:#d1d1d5;
 box-shadow:0 0 1px rgba(0,0,0,.0980392);border-radius:1px;
 -webkit-transform-origin:left 50% 0;transform-origin:left 50% 0}
 .dialog_loading_leaf_0{-webkit-animation:a 1.25s linear infinite;animation:a 1.25s linear infinite}
 .dialog_loading_leaf_0:before{-webkit-transform:rotate(0deg) translate(7.92px);
 transform:rotate(0deg) translate(7.92px)}
 .dialog_loading_leaf_1{-webkit-animation:b 1.25s linear infinite;animation:b 1.25s linear infinite}
 .dialog_loading_leaf_1:before{-webkit-transform:rotate(30deg) translate(7.92px);
 transform:rotate(30deg) translate(7.92px)}
 .dialog_loading_leaf_2{-webkit-animation:c 1.25s linear infinite;animation:c 1.25s linear infinite}
 .dialog_loading_leaf_2:before{-webkit-transform:rotate(60deg) translate(7.92px);
 transform:rotate(60deg) translate(7.92px)}
 .dialog_loading_leaf_3{-webkit-animation:d 1.25s linear infinite;animation:d 1.25s linear infinite}
 .dialog_loading_leaf_3:before{-webkit-transform:rotate(90deg) translate(7.92px);
 transform:rotate(90deg) translate(7.92px)}
 .dialog_loading_leaf_4{-webkit-animation:e 1.25s linear infinite;animation:e 1.25s linear infinite}
 .dialog_loading_leaf_4:before{-webkit-transform:rotate(120deg) translate(7.92px);
 transform:rotate(120deg) translate(7.92px)}
 .dialog_loading_leaf_5{-webkit-animation:f 1.25s linear infinite;animation:f 1.25s linear infinite}
 .dialog_loading_leaf_5:before{-webkit-transform:rotate(150deg) translate(7.92px);
 transform:rotate(150deg) translate(7.92px)}
 .dialog_loading_leaf_6{-webkit-animation:g 1.25s linear infinite;animation:g 1.25s linear infinite}
 .dialog_loading_leaf_6:before{-webkit-transform:rotate(180deg) translate(7.92px);
 transform:rotate(180deg) translate(7.92px)}
 .dialog_loading_leaf_7{-webkit-animation:h 1.25s linear infinite;animation:h 1.25s linear infinite}
 .dialog_loading_leaf_7:before{-webkit-transform:rotate(210deg) translate(7.92px);
 transform:rotate(210deg) translate(7.92px)}
 .dialog_loading_leaf_8{-webkit-animation:i 1.25s linear infinite;animation:i 1.25s linear infinite}
 .dialog_loading_leaf_8:before{-webkit-transform:rotate(240deg) translate(7.92px);
 transform:rotate(240deg) translate(7.92px)}
 .dialog_loading_leaf_9{-webkit-animation:j 1.25s linear infinite;animation:j 1.25s linear infinite}
 .dialog_loading_leaf_9:before{-webkit-transform:rotate(270deg) translate(7.92px);
 transform:rotate(270deg) translate(7.92px)}
 .dialog_loading_leaf_10{-webkit-animation:k 1.25s linear infinite;animation:k 1.25s linear infinite}
 .dialog_loading_leaf_10:before{-webkit-transform:rotate(300deg) translate(7.92px);
 transform:rotate(300deg) translate(7.92px)}
 .dialog_loading_leaf_11{-webkit-animation:l 1.25s linear infinite;animation:l 1.25s linear infinite}
 .dialog_loading_leaf_11:before{-webkit-transform:rotate(330deg) translate(7.92px);
 transform:rotate(330deg) translate(7.92px)}



.dialog_loading_toast .dialog_toast_content {
    margin-top: 64%;
    font-size: 14px;
}
.dialog_loading_content {
    margin: 0 0 15px;
}