@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(http://fonts.gstatic.com/s/roboto/v15/vzIUHo9z-oJ4WgkpPOtg13YhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
    font-family: 'stxingkairegular';
    src: url('../fonts/_-webfont.eot');
    src: url('../fonts/_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/_-webfont.woff2') format('woff2'),
         url('../fonts/_-webfont.woff') format('woff'),
         url('../fonts/_-webfont.ttf') format('truetype'),
         url('../fonts/_-webfont.svg#stxingkairegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'HelveticaNeue-RomanRegular';
  src: url('../fonts/HelveticaNeue-Roman.eot');
  src: url('../fonts/HelveticaNeue-Roman.woff') format('woff'), 
      url('../fonts/HelveticaNeue-Roman.ttf') format('truetype'), 
      url('../fonts/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg');
}



